@model List<DTOLayer.About.ResultAboutDto>

@{
    Layout = "~/Views/Admin/index.cshtml";
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Admin</a></li>
    <li class="breadcrumb-item text-sm text-white active" aria-current="page">Anasayfa</li>
  </ol>
  <h6 class="font-weight-bolder text-white mb-0">Hakkımızda Alanı</h6>
</nav>
<br/>
    @foreach (var item in Model)
    {
        <div class="card mb-4">
        <div class="card-body">
            
            <div class="row mb-4">
                <div class="col-md-1">
                    <h6 class="text-sm mb-1">Başlık</h6>
                </div>

                <div class="col-md-11">
                    <div class="border rounded p-3 bg-gray-100">
                        <p class="text-sm font-weight-bold mb-0">
                            @item.Title
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="row mb-4">
                <div class="col-md-1">
                    <h6 class="text-sm mb-1">Başlık Yeşil</h6>
                </div>

                <div class="col-md-11">
                    <div class="border rounded p-3 bg-gray-100">
                        <p class="text-sm font-weight-bold mb-0">
                            @item.TitleGreen
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="row mb-4">
                <div class="col-md-1">
                    <h6 class="text-sm mb-1">Açıklama</h6>
                </div>

                <div class="col-md-11">
                    <div class="border rounded p-3 bg-gray-100">
                        <p class="text-sm mb-0">
                            @item.Description
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="row mb-4">
                <div class="col-md-1">
                    <h6 class="text-sm mb-1">Görsel - 1</h6>
                </div>

                <div class="col-md-11">
                    <div class="border rounded p-3 bg-gray-100">
                        <p class="text-sm font-weight-bold mb-0">
                            @item.Image1
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="row mb-4">
                <div class="col-md-1">
                    <h6 class="text-sm mb-1">Görsel - 2</h6>
                </div>

                <div class="col-md-11">
                    <div class="border rounded p-3 bg-gray-100">
                        <p class="text-sm font-weight-bold mb-0">
                            @item.Image2
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="row mb-4">
                <div class="col-md-1">
                    <h6 class="text-sm mb-1">Görsel - 3</h6>
                </div>

                <div class="col-md-11">
                    <div class="border rounded p-3 bg-gray-100">
                        <p class="text-sm font-weight-bold mb-0">
                            @item.Image3
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="row mb-4">
                <div class="col-md-1">
                    <h6 class="text-sm mb-1">Görsel - 4</h6>
                </div>

                <div class="col-md-11">
                    <div class="border rounded p-3 bg-gray-100">
                        <p class="text-sm font-weight-bold mb-0">
                            @item.Image4
                        </p>
                    </div>
                </div>
            </div>
            
            <hr class="horizontal dark">

            <div class="d-flex justify-content-end">
                <a href="/Admin/About/UpdateAbout/@item.AboutId"
                   class="btn bg-gradient-info">
                    Hakkımızda Alanını Düzenle
                </a>
            </div>
        </div>
        </div>
    }
    
