@model DTOLayer.About.ResultAboutDto
<section class="about container" id="hakkimizda">
    <div class="about-l">
        <h2>@Model.Title<span>@Model.TitleGreen</span> </h2>
        <p>
            @Model.Description
        </p>
        <button class="btn btn-success">Devamını Oku</button>
    </div>

    <div class="about-r">
        <div class="about-r-img-l">
            <img src="@Model.Image1"
                 alt="">
            <img src="@Model.Image2"
                 alt="">
            <img src="@Model.Image3"
                 alt="">
            <img src="@Model.Image4"
                 alt="">
        </div>
    </div>
</section>